.dots {
    display: flex;
    gap: 0px 30px;
    justify-content: center;

    & span {
        color: var(--sd-mono-200);
    }

    @media screen and (max-width: 500px) {
        gap: 0px 20px;
    }
}
