.logo {
    align-items: center;
    display: flex;
    gap: 0px 15px;

    & img {
        height: 35px;
    }

    & span {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}
