/* Clock */
.clock {
    font-size: 40px;
    line-height: 45px;
    text-align: center;

    @media screen and (max-width: 500px) {
        font-size: 30px;
        line-height: 35px;
    }
}

/* Milestone */
.milestone {
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 50px 50px;
    
    & img {
        box-shadow: 0px 0px 10px black;
        width: 40%;
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 15px 0px;
        width: 40%;

        & h3 {
            text-align: center;
        }

        & p {
            text-align: justify;
        }
    }

    @media screen and (max-width: 750px) {
        flex-direction: column;

        img {
            width: 75%;
        }

        div {
            width: 100%;
        }
    }
}

/* Home */
#home {
    & #banner, & #timer, & #cwil, & #legacy, & #invite, & #motto {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 25px 0px;
        padding: 50px 50px;
        
        & h1 {
            font-size: 50px;
            line-height: 55px;

            @media screen and (max-width: 500px) {
                font-size: 30px;
                line-height: 35px;
            }
        }

        & h3 {
            font-size: 20px;
            line-height: 25px;
            text-align: center;
        }

        & p {
            text-align: justify;
            
            &.center {
                text-align: center;
            }
        }
    }

    & #banner, & #motto {
        & .highlights {
            display: flex;
            gap: 50px 50px;
            justify-content: space-around;
    
            & img {
                box-shadow: 0px 0px 10px black;
                width: 30%;
            }

            @media screen and (max-width: 600px) {
                align-items: center;
                flex-direction: column;

                & img {
                    width: 75%;
                }
            }
        }
    }
}
