/* Seasons */
#seasons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
    justify-content: space-around;
    padding: 50px 50px;

    & .card {
        aspect-ratio: 4 / 3;
        background-color: var(--sd-mono-200);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
        opacity: 50%;
        padding: 15px 15px;
        text-decoration: none;
        transition: opacity 0.2s ease;
        width: 25%;

        &:hover {
            opacity: 100%;
        }

        & img {
            height: 40%;
            object-fit: cover;
        }

        & div {
            display: flex;
            flex-direction: column;
            gap: 5px 0px;
        }
    }

    @media screen and (max-width: 750px) {
        & .card {
            width: 40%;
        }
    }

    @media screen and (max-width: 600px) {
        align-items: center;
        flex-direction: column;

        & .card {
            aspect-ratio: 3 / 2;
            width: 75%;
        }
    }
}
