/* Seasons */
#seasons {
    display: flex;
    padding: 50px 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px 25px;

    & .card {
        aspect-ratio: 4 / 3;
        background-color: var(--sd-mono-200);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px 0px;
        opacity: 50%;
        padding: 15px 15px;
        text-decoration: none;
        transition: opacity 0.2s ease;
        width: 25%;

        &:hover {
            opacity: 100%;
        }

        & img {
            border-radius: 3px;
            height: 40%;
            object-fit: cover;
        }

        & div {
            display: flex;
            flex-direction: column;
            gap: 5px 0px;
        }
    }
}