.topic {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;

    & h3 {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    & p {
        text-align: justify;
    }
}
