/* Crumbs */
.separator.crumbs {
    display: flex;
    gap: 0px 30px;
    justify-content: center;
    
    & img {
        height: 20px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(125%);
        }
    }

    @media screen and (max-width: 500px) {
        gap: 0px 20px;
    }
}

/* Dots */
.separator.dots {
    display: flex;
    gap: 0px 30px;
    justify-content: center;

    & span {
        color: var(--sd-mono-200);
    }

    @media screen and (max-width: 500px) {
        gap: 0px 20px;
    }
}
